{% load i18n %}
<!DOCTYPE html>
<html>
    <head>{% block "head" %}

        <meta charset="UTF-8">

        <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/css/screen.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

        <title>{% block "title" %}{% trans "BIREME Feedback" %}{% endblock %}</title>

        {% block extrahead %}{% endblock %}
    {% endblock %}</head>
    
    <body>
        {% include "lang.html" %}
        {% block body %}
            <div class="container-fluid content">
                {% block content %}{% endblock %}
            </div>
    {% endblock %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="footer">
                    <strong class="bireme">2012 - BIREME/OPAS/OMS</strong>
                    <div class="version">
                        Bireme Feeback - <strong>v{% include "version.txt" %}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if GOOGLE_ANALYTICS_ID %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
    </body>
</html>