{% load i18n %}
<!DOCTYPE html>
<html>
    <head>{% block "head" %}

        <meta charset="UTF-8">

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/css/additionalStyles.css" rel="stylesheet" media="screen">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>

        <title>{% block "title" %}{% trans "BIREME Feedback" %}{% endblock %}</title>

        <script>
            $(function(){
                
                // invertendo os checkboxes, que o django coloca ao contrário 
                $("input[type=checkbox]").each(function(){
                    var label = $(this).prev('label');
                    var this_html = $('<div>').append($(this).clone()).remove().html();

                    label.prepend(this_html);
                    $(this).remove();
                });
            });
        </script>

        {% block extrahead %}{% endblock %}
    {% endblock %}</head>
    
    <body>

        <div class="lang-form" style="display:none">{% include "lang.html" %}</div>

        {% block body %}
        <div class="container">
            <header class="row-fluid">
                <div id="identification" class="span9">
                    <div class="imgContainer"><img src="{{ STATIC_URL }}/images/logo-BIREME.png" /></div>
                    <div class="siteName span6">
                        <h1><a href=""><span>{% trans "BIREME/OPAS/OMS" %}</span></a></h1>
                        <h2><a href=""><span>{% trans "Feedback Service" %}</span></a></h2>
                    </div>
                </div>
            </header>

            <section class="row-fluid">
                <div class="span8 offset2">
                    
                    {% block content %}{% endblock %}
                    
                </div>
            </section>
        </div>
        {% endblock %}
        
        <footer>
            <div class="container">
                <strong>BIREME Feedback - <strong>v{% include "version.txt" %}</strong> - 2012</strong> ({{ request.LANGUAGE_CODE }})<br/>
                Source code <a href="https://github.com/bireme/feedback">https://github.com/bireme/feedback</a><br>
                <div class="links">
                    <a href="{% url feedback.views.first 'feedback' %}?version=0.5&error=0" title="{% trans "Send us a comment" %}">{% trans "Send us a comment" %}</a> |
                    <a href="{% url feedback.views.first 'feedback' %}?version=0.5&error=1" title="{% trans "Report error" %}">{% trans "Report error" %}</a>
                    
                </div>
            </div>
        </footer>


    {% if GOOGLE_ANALYTICS_ID %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
    </body>
</html>