{% load i18n %}
<script>

    function change_language(lang) {
        if (lang == 'pt') {
            lang = 'pt-BR';
        }

        var form = document.language;
        form.language.value = lang;
        form.submit();
    }

    {% if request.GET.lang %}
        $(function(){
            var lang = "{{ request.GET.lang }}";    
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                {% if request.GET.lang == lang.0|slice:":2" and request.GET.lang != request.LANGUAGE_CODE|slice:":2" %}
                    change_language(lang);
                {% endif %}
            {% endfor %}            
        });
    {% endif %}
    
</script>
{{ LANGUAGES}}


<form action="/i18n/setlang/" method="post" id="setlang" name="language">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <input name="language" type="hidden" value="{{ request.LANGUAGE_CODE }}"  id="lang"/>
</form>
