{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script>
    $(function(){
        $("#id_email").addClass("input-xxlarge");
        $("#id_email").attr("placeholder", "{% trans 'Your email' %}");
        
        $("#id_problem").addClass("input-xxlarge");

        {% if not request.GET.error == '1' %}
            $("label[for=id_is_blocker]").hide();
            $("#id_is_blocker").hide();
            
            $("label[for=id_problem]").html("{% trans "Describe your sugestion:" %}");
        {% endif %}
    });
</script>

<form method="POST" action="{% url feedback.views.first software.slug %}">{% csrf_token %}
    
    <div class="disclaimer">
        * {% trans "If you want to send any suggestion for improving this VHL site, service or product, please fill out the form. Your suggestion will be sent directly to BIREME" %}.
    </div>

    <fieldset class="feedbackForm">
        {{ form }}
        <div class="control-group">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </fieldset>

</form>

{% endblock %}