{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script>
    $(function(){
        $("#id_email").addClass("input-xxlarge");
        $("#id_email").attr("placeholder", "{% trans 'Preencha com seu email' %}");
        
        $("#id_problem").addClass("input-xxlarge");
    });
</script>

<form method="POST" action="{% url feedback.views.first software.slug %}">{% csrf_token %}
    
    <hgroup><h1>{% trans "Send your comment" %}</h1></hgroup>

    <fieldset class="feedbackForm">
        {{ form }}
        <div class="control-group">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </fieldset>

</form>

* {% trans "The feedback service allows to report, directly to product/service responsible, a bad/wrong operation, so give opinion." %}

{% endblock %}