{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script>
    $(function(){
        $("#id_email").addClass("input-xxlarge");
        $("#id_email").attr("placeholder", "{% trans 'Preencha com seu email' %}");
        
        $("#id_problem").addClass("input-xxlarge");

        {% if not request.GET.error == '1' %}
            $("label[for=id_is_blocker]").hide();
            $("#id_is_blocker").hide();
            
            $("label[for=id_problem]").html("{% trans "Give us your comment:" %}");
        {% endif %}
    });
</script>

<form method="POST" action="{% url feedback.views.first software.slug %}">{% csrf_token %}
    
    {% if request.GET.error == '1' %}
        <hgroup><h1>{% trans "Please report the error" %}</h1></hgroup>
    {% else %}
        <hgroup><h1>{% trans "Send your comment" %}</h1></hgroup>
    {% endif %}

    <fieldset class="feedbackForm">
        {{ form }}
        <div class="control-group">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </fieldset>

</form>

<div class="disclaimer">
    * {% trans "The feedback service allows to report, directly to product/service responsible, a bad/wrong operation, so give opinion." %}
    {% trans "Remember that the problem description and your comments are free access" %}.
</div>

{% endblock %}