{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script>
    
    function search(){
        $('#menu').hide();
        $('#search').fadeIn('fast');
    }

    $(function(){
        $('#search').hide();
    });
</script>
{% endblock %}

{% block content %}

<div class='index'>
    <div id="search">
        <form action="" class="form-inline">
            <label for="q">{% trans "Insert feedback ID" %}: </label><br>
            <input type="text" class="input-xxlarge" name="q" id='q'>
            <button type="submit" class="btn">{% trans "Submit" %}</button>
        </form>
    </div>

    <div class='content-index' id="menu">

        {% if request.GET.service and request.GET.version %}
            <div class='button'>
                <a href='{% url feedback.views.first request.GET.service %}?version={{ request.GET.version }}&error=1' class='btn btn-large'>{% trans "Report a error" %}</a>
            </div>
            <div class='button'>
                <a href='{% url feedback.views.first request.GET.service %}?version={{ request.GET.version }}' class='btn btn-large'>{% trans "Leave a comment" %}</a>
            </div>
        {% endif %}
        <div class='button'>
            <a href='javascript: search();' class='btn btn-large'>{% trans "Check your issue" %}</a>
        </div>
    </div>
</div>


{% endblock %}