{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script>
    $(function(){


        var select = $("#id_objective");
        var another = "{{ another.id }}";

        var label_another = $("label[for=id_another_objective]");
        var html_another = $("#id_another_objective");
        label_another.hide();
        html_another.hide();
        
        select.change(function(){
            selected = $(this).find('option:selected');
            if (selected.val() == another) {
                label_another.show();
                html_another.show();                
            }
        })

        $("#id_how_should_work").addClass("input-xxlarge");
        $("#id_email").attr("placeholder", "{% trans 'Preencha com seu email' %}");
        
        $("#id_problem").addClass("input-xxlarge");
    });
</script>
{% endblock %}

{% block content %}
<form method="POST" action="{% url feedback.views.second feedback.id %}">{% csrf_token %}

    <hgroup><h1>{% trans "One minute of your time?" %}</h1></hgroup>

    <fieldset class="feedbackForm">

        {{ form }}
        
        <div class="control-group"><button type="submit" class="btn btn-primary">{% trans "Submit" %}</button> </div>
    </fieldset>
    
    
</form>
{% endblock %}