{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script>
    $(function(){


        var select = $("#id_objective");
        var another = "{{ another.id }}";

        var label_another = $("label[for=id_another_objective]");
        var html_another = $("#id_another_objective");
        label_another.hide();
        html_another.hide();
        
        select.change(function(){
            selected = $(this).find('option:selected');
            if (selected.val() == another) {
                label_another.show();
                html_another.show();                
            }
        })
    });
</script>
{% endblock %}

{% block content %}
<form method="POST" action="{% url feedback.views.second feedback.id %}">{% csrf_token %}
    
    {{ form.as_p }}
    
    <div class="control-group">
        <button type="submit">{% trans "Submit" %}</button>
    </div>
</form>
{% endblock %}