{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans "Thanks!" %}</h1>

    <form action="" name="" method="">
        <hgroup><h1>{% trans "Your message has been send sussesfully!" %}</h1></hgroup>
        
        <hgroup><h1>{% trans "One minute of your time?" %}</h1></hgroup>

        <!-- Traduzir esses elementos para o inglês -->
        <fieldset class="feedbackForm">
            <p>
                Você é uma pessoa especial para nós, pois compartilha do desejo de ver nossos produtos e serviços
                cada vez melhores.
            </p>
            <p>
                Ajude-nos a conhecê-lo melhor, respondendo a umas poucas perguntas sobre você e seu uso
                de nossos produtos.
            </p>
            <p>
                Garantimos total confidencialidade dos dados fornecidos e que os mesmos somente serão utilizados
                internamente.
            </p>
            <p>
                Podemos contar com você?
            </p>

            <div class="control-group">            
                <a href="{% url feedback_thanks2 feedback.id %}" title="{% trans "No, thank's" %}" class="btn btn-danger">{% trans "No, thank's" %}</a>
                <a href="{% url feedback_second feedback.id %}" class="btn btn-success">{% trans "Tell me more" %}</a>
            </div>
        </fieldset>
    </form>
    
{% endblock %}