{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans "Thanks!" %}</h1>

    <form action="" name="" method="">
        <hgroup><h1>One minute of your time?</h1></hgroup>

        <fieldset class="feedbackForm">
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id <a href="#" title="link to somewhere">nibh ultricies vehicula ut id elit</a>.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>

            <div class="control-group">            
                <button type="submit" class="btn btn-danger">{% trans "No, thank's" %}</button>
                <a href="{% url feedback_second feedback.id %}" class="btn btn-success">{% trans "Tell me more" %}</a>
            </div>
        </fieldset>
    </form>
    
{% endblock %}