{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans "Thank you!" %}</h1>

    <form action="" name="" method="">
        <hgroup><h1>{% trans "Your suggestion has been send successfully to BIREME." %}</h1></hgroup>
        

        <!-- Traduzir esses elementos para o inglês -->
        <fieldset class="feedbackForm">
            <hgroup><h1>{% trans "One minute of your time?" %}</h1></hgroup>
            <p>
                {% trans "We want to know more about the users of our products and services. " %}
            </p>
            <p>
                {% trans "We guarantee complete confidentiality of information provided, which will be used exclusively by BIREME. "%}
            </p>
            <p>
                {% trans "Could you answer five quick questions?" %}
            </p>

            <div class="control-group">            
                <a href="{% url feedback_second feedback.id %}" class="btn btn-success">{% trans "Yes" %}</a>
                <a href="{% url feedback_thanks2 feedback.id %}" title="{% trans "No, thank's" %}" class="btn btn-danger">{% trans "No, thank's" %}</a>
            </div>
        </fieldset>
    </form>
    
{% endblock %}