{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans "Thanks!" %}</h1>

    <!--  traduzir esses eleemtnos para o inglês -->
    <fieldset class="feedbackForm">
        <p>
            Mais uma vez gostaríamos de agradecer sua participação no processo contínuo de melhoria
            dos nossos produtos e serviços.
        </p>
        <p>
            A sua sugestão será analisada cuidadosamente por nossos técnicos e poderá ser incorporada 
            em uma futura versão de nosso produto/serviço.
        </p>
        <p>
            Você pode acompanhar o encaminhamento de sua sugestão, que ficará armazenada em nossos 
            arquivos, seguindo o link abaixo:
        </p>
        <p>
            Issue ID: {{ feedback.hash }}<br/>
            link: <a href="{{ feedback.get_absolute_url }}">{{ feedback.get_absolute_url }}</a></p>
            
        <button type="submit" class="btn"><i class="icon-print"></i> Print this</button>
        <button type="submit" class="btn"><i class="icon-envelope"></i> Email me</button>
    </fieldset>
    
{% endblock %}