{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans "Thank you!" %}</h1>

    <!--  traduzir esses eleemtnos para o inglês -->
    <fieldset class="feedbackForm">
        <p>
            {% trans "Your feedback is very important for the continuous improvement of VHL services and products." %}
        </p>
        <p>
            {% trans "You can follow  your report error or suggestion via the track identifier and link below." %}
        </p>
           
        <p>
            <a href="{{ feedback.get_absolute_url }}">{{ feedback.get_absolute_url }}</a>
        </p>
            
        <button type="submit" class="btn"><i class="icon-print"></i>{% trans "Print this" %}</button>
        <!-- <button type="submit" class="btn"><i class="icon-envelope"></i>{% trans "Email me" %}</button> -->
    </fieldset>
    
{% endblock %}